.page-container {
  // margin-left: 26px;
  // margin-right: 26px;
  // opacity: 1;
}

.header {
  margin-left: 26px;
}


.apply-btn{ 
  background: #541572 0% 0% no-repeat padding-box;
  border-radius: 22px;
  opacity: 1;
  width: 259px;
  height: 34px;
  margin-left: 15px;
   }

.header>h1 {
  margin-top: 28px;
  margin-bottom: 0px;
  height: 25px;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
  color: #000000;
}

.header>h2 {
  margin-top: 3px;
  height: 20px;
  color: #858282;
  font-size: 14px;
}

.acc-card-list {
  margin-top: 30px;
}

.account-card {
  margin: 10px;
  height: 70px;
  border-radius: 13px;
  box-shadow: 0px 3px 6px #00000029;
  background: #FFFFFF;
}

.account-card-content {
  display: flex;
  gap: 30px;
  align-items: center;
  height: 70px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 13px;

  ion-img {
    height: 53px;
    width: 53px;
  }

  .lbl-bankName {
    text-align: left;
    font-weight: 400;
    color: #555555;
  }
}

.imgContainer {
  display: flex;
  width: 99px;
  height: 55px;
  border: 2px dashed #541572;
}

.bank_icon {
  height: 25px;
  width: 25px;
  margin: auto;
}

.add_bank-lbl {
  text-decoration: underline;
  font-size: 12px;
  font-weight: 500;
  padding-left: 20px;
  color: #541572;
}