<ion-header style="--background: #fff">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Contacts List" icon="caret-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="app-container">
    <ion-searchbar show-clear-button="always" [debounce]="500" (ionInput)="handleSearch($event)" class="searchbar"></ion-searchbar>

    <ion-list lines="none">
      <ion-item class="list-item" *ngFor="let result of results">
        <ion-label>
          <h2 class="card-title">{{result}}</h2>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
