<ion-header>
	<ion-toolbar mode="ios">
	  <!-- <ion-buttons slot="start">
		<ion-back-button defaultHref="home"></ion-back-button>
	  </ion-buttons> -->
	  <ion-title>Create Password</ion-title>
	   </ion-toolbar>
	 </ion-header>

<ion-content padding>
	<form [formGroup]="changePasswordForm" (submit)="submit()">		 
		<ion-item>
			<ion-label stacked>
				Password
			</ion-label>
			<ion-input formControlName="newPassword" type="password"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label stacked>
				Confirm Password
			</ion-label>
			<ion-input formControlName="confirmPassword" id="confirmPassword" type="password"></ion-input>
      <!-- <ion-label *ngIf="changePasswordForm.controls['confirmPassword'].errors" style="color: red">
        			Password and Confirm password did not match
      </ion-label> -->
		</ion-item>
		<!-- <button class="form-control btn btn-primary" *ngIf="!changingPassword" type="submit" [disabled]="!changePasswordForm.valid" color="primary" ion-button block>Next</button> -->
		
		<ion-button share="round" class="ionButton"  expand="block" *ngIf="!changingPassword" type="submit" [disabled]="!changePasswordForm.valid" color="primary" fill="clear">Next</ion-button>
 
		 

		<!-- <button class="form-control btn btn-primary" *ngIf="changingPassword" color="primary" disabled ion-button block> -->
         
        <!-- </button> -->
	</form>
</ion-content>