<ion-content padding [fullscreen]="true">
  <div class="page-container">
    <div class="header">
      <h1>Login Account</h1>
      <h2>Hello welcome back to our account</h2>
    </div>

    <!-- <ion-segment class="segment" [(ngModel)]="segment">
      <ion-segment-button value="email" class="seg-email">Email </ion-segment-button>
      <ion-segment-button value="phonenumber" class="seg-phone">Phone Number</ion-segment-button>
    </ion-segment> -->

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <!-- <ion-item *ngIf="segment === 'email'" lines="none">
        <ion-label class="label-email" position="stacked">Email</ion-label>
        <div class="email-input-container">
          <ion-input
            type="email"
            class="input-email"
            placeholder="abc@xyz.com"
            formControlName="emailId">
          </ion-input>
        </div>
      </ion-item> -->

      <ion-item *ngIf="segment === 'phonenumber'" lines="none">
        <ion-label class="label-phoneNo" position="stacked">Phone Number</ion-label>
        <div class="phone-input-container">
          <ion-img class="country-flag" src="../../assets/project-icons/usa-flag.png"></ion-img>
          <span style="margin-top: 11px; color: darkgray;">+1</span> 
          <ion-input
            type="number"
            class="input-phone"
            placeholder="316 555 0116"
            formControlName="phoneNumber">
          </ion-input>  
        </div>
      </ion-item>

      <ion-button
        class="otp-btn"
        expand="block"
        color="new-primary"
        type="submit">Request OTP
      </ion-button>
    </form>

    <div class="submit-info-container">
      <ion-label class="info-1">Not a member yet? <a href="">Click here</a></ion-label>
      <ion-label class="info-2">By continuing you will receive an message for verification</ion-label>
      <ion-label class="info-3">By submit I agree to</ion-label>
      <ion-label class="tnc"><a href="">Terms & Condition | Privacy Policy</a></ion-label>
    </div>
    
  </div>
</ion-content>