ion-list {
    &[form] {
        ion-item {
            &.item {
                --border-width: 1px;
                --border-radius: 5px;
                --min-height: 60px;
                --ion-border-color: rgba(0, 0, 0, 0.10);

                ion-select {
                    --padding-start: 0;
                    width: 100%;
                    //font-size: 1.8rem;
                    max-width: unset;
                }

                &+.item {
                    margin-top: 16px;
                }
            }
        }

        ion-row {
            &[lrm] {
                margin-left: -8px;
                margin-right: -8px;
            }

            ion-col {
                padding: 8px;
                padding-top: 16px;
            }
        }
    }

    &[formCodeValidate] {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        gap: 3px;
        max-width: 310px;
        margin-left: auto;
        margin-right: auto;
        height: 60px;

        ion-item {
            &.item {
                --min-height: 50px;
                max-width: 50px;
                border-radius: 25px;
                margin-left: 6px;
                margin-right: 6px;
                text-align: center;
                font-size: 16px;
                color: #555555;
                box-shadow: 0px 3px 6px;
            }
        }
    }
}

.content-container {
    opacity: 1;

    ion-img.group335 {
        height: 108px;
        width: 111px;
        margin: auto;
        margin-top: 90px;
    }
}

.otp-info-container {
    margin-top: 37px;
    text-align: center;
    display: flex;
    flex-direction: column;
    
    .info-1 {
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;
        color: #555555;
    }
    .info-2 {
        margin-left: 48px;
        margin-right: 48px;
        margin-top: 15px;
        height: 41px;
        color: #555555;
        font-size: 14px;
        font-weight: normal;
    }
    .info-3 {
        margin: 30px auto 13px;
        height: 23px;
        font-size: 16px;
        color: #555555;
        font-weight: normal;
        display: flex;
        align-items: center;
        gap: 10px;

        ion-img.edit {
            width: 24px;
            height: 24px;
        }
    }
}