<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Favourites</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="app-container">
    <ion-searchbar show-clear-button="always" [debounce]="500" (ionInput)="handleSearch($event)" class="searchbar"></ion-searchbar>

    <ion-list lines="none">
      <ion-item class="list-item" *ngFor="let result of results" (click)="selectFav(result)">
        <ion-avatar slot="start" class="card-avatar">
          <img src="./assets/img/profile.png" />
        </ion-avatar>
        <ion-label>
          <h2 class="card-title">{{result.source_handle}}</h2>
          <p class="card-sub-title">{{result.destination_handle}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
