<ion-header style="--background: #fff">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="caret-back"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="medium">3/3</ion-button>
    </ion-buttons>
    <ion-title>Complete Your Profile</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding [fullscreen]="true">
  <div class="page-container">

    <form [formGroup]="form" (ngSubmit)="clickNext()">
      <ion-item lines="none">
        <ion-label class="input-label" position="stacked">Social Security Number</ion-label>
        <div class="input-container">
          <ion-input
            class="input-ssn"
            type="text"
            formControlName="ssn"
          ></ion-input>
        </div>
        <ng-template [ngIf]="!isFormSubmit && form.controls['ssn'].invalid">
          <ion-label class="err-validation" position="stacked">Please enter a valid ssn</ion-label>
        </ng-template>
      </ion-item>

      <ion-item lines="none">
        <ion-label class="input-label" position="stacked">Handle</ion-label>
        <div class="input-container">
          <ion-input
            class="input-handle"
            type="text"
            formControlName="handle"
            minlength="4"
          ></ion-input>
        </div>
        <ng-template [ngIf]="!isFormSubmit && form.controls['handle'].invalid">
          <ion-label class="err-validation" position="stacked"
            >Handle should be more than 4 digits</ion-label
          >
        </ng-template>
      </ion-item>

     
      <ion-button class="primary-btn next-btn" expand="block" type="submit">Next</ion-button>
    </form>
  </div>
</ion-content>
