<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Transfer" icon="caret-back"></ion-back-button>  
    </ion-buttons>     
     <ion-buttons slot="end">
      <ion-button color="medium" (click)="favoritesList()"><a>Favorites</a></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="none">
    <ion-item class="lbl-amt">
      <ion-label>USD <span>0</span></ion-label>
    </ion-item>
    <ion-item class="lbl-balance">
      <ion-label class="balance">USD wallet balance USD500.00</ion-label>
      <ion-label class="fee">Fee USD 0.35</ion-label>
    </ion-item>
    <ion-item class="lbl-to">
      <ion-label>To</ion-label>
    </ion-item>
    <ion-item class="contact-item" (click)="handleContacts()">
      <ion-input type="text" placeholder="+1" [(ngModel)]="transfer.sendTo" [readonly]="true"></ion-input>
      <ion-button class="contact-btn">
        <ion-img src="../../assets/project-icons/group934/group934.svg"></ion-img>
        <ion-label>Contacts</ion-label>
      </ion-button>
    </ion-item>
    <ion-item class="item-note">
      <ion-input type="text" placeholder="Note" [(ngModel)]="transfer.note"></ion-input>
    </ion-item>
  </ion-list>
  
</ion-content>

<ion-footer>
  <ion-button
    class="submit-btn"
    expand="block"
    type="submit"
    (click)="onConfirm()">Confirm
  </ion-button>
</ion-footer>