<!-- <ion-header >
 </ion-header>


<ion-content class="otp-wrapper padd-8" padding>
  <h1 class="subHeader-Wrap">Enter OTP</h1>
  <div class="enter-otp">
    <h1 >Enter OTP</h1>
    <div class="step-sec">
      <div class="col-3">
        <img src="assets/imgs/Step%20One.png">
      </div>
      <div class="col-8">
        <label>step 1:</label>
        <span>Verify</span>
      </div>
    </div>
 
    <p class="customer-otp"><b>We have sent you a 6 digit code to </b><span>Mobileno - 1234567890</span><br/>
       <span class="phone-no"> Please enter the code below </span>
     </p>

  </div>

  <form class="main-form otp-num" [formGroup]="otpForm">
    

    <div id="divOuter">
      <div id="divInner">
        <input id="partitioned" type="text" maxlength="6" placeholder="X" formControlName="otp"
          />
      </div>
    </div>
    <div *ngIf="(submitAttempt || otpForm.controls.otp.touched) && otpForm.controls.otp.errors">
			<p class="error">Please enter 6 digits otp</p>
    </div>
 
  </form>

 
</ion-content> -->
<!------------------------------------->
<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="Back" icon="caret-back"></ion-back-button>
    </ion-buttons>
    <ion-title>OTP Screen</ion-title>
     </ion-toolbar>
   </ion-header>

   <ion-content>
    <div class="page-flex-align code">
      <div class="top-content ion-text-center">
        <h1>Validation code</h1>
        <p>Please enter the code send to eg: 1234
          <br>Phone: {{phoneNumber}}</p>

<form [formGroup]="form" class="margin-bottom-20 padding-top-10">  
   
  <h2 class="sub-title-black margin-bottom">Enter OTP</h2>
      <ion-row align-items-center class="margin-bottom pin-row">
        <ion-col col-2 col-sm-2 class="input-box padding-left-0" >
          <ion-input type="password" [ngClass]="{'bot-red' : invalidotp === true }" class="border-light " text-center formControlName="mobOtp1"
                   (focus)="selectALL2($event,0)"
                     maxlength="1"
                     #mobOtp1
                     (keyup)="onKeyUp2($event, 1)"
                     [disabled]="validateicon" >
          </ion-input>
        </ion-col>
        <ion-col col-2 col-sm-2  class="input-box" >
          <ion-input type="password" [ngClass]="{'bot-red' : invalidotp === true }" class="border-light fontfam" text-center formControlName="mobOtp2"
          (focus)="selectALL2($event,1)"
                     maxlength="1"
                     #mobOtp2
                     (keyup)="onKeyUp2($event,2)"
                     [disabled]="validateicon">
          </ion-input>
        </ion-col>
        <ion-col col-2 col-sm-2  class="input-box" >
          <ion-input type="password" [ngClass]="{'bot-red' : invalidotp === true }" class="border-light " text-center formControlName="mobOtp3"
          (focus)="selectALL2($event,2)"
                     maxlength="1"
                     #mobOtp3
                     (keyup)="onKeyUp2($event,3)"
                     [disabled]="validateicon">
          </ion-input>
        </ion-col>

        <ion-col col-2 col-sm-2 class="input-box" >

          <ion-input type="password" [ngClass]="{'bot-red' : invalidotp === true }" class="border-light " text-center formControlName="mobOtp4"
          (focus)="selectALL2($event,3)"
                     maxlength="1"
                     #mobOtp4
                     (keyup)="onKeyUp2($event,4)"
                     [disabled]="validateicon">
          </ion-input>

        </ion-col>
        <!-- <ion-col col-2 col-sm-2 class="input-box" >
         <p class=" margin-top margin-bottom">
           <i  *ngIf="validateicon"  class="n-icon-done-forms"  color="secondary"  ></i>
          </p>
        </ion-col> --> 
      </ion-row> 

      <p  *ngIf="invalidotp" class="error">Please enter the correct OTP</p>
    </form>

    <!-- <button class=" light margin-top-30"  item-right (click)="verifyOTP()">Submit <i  class="n-icon-submit"  color="dark"  ></i></button> -->


  </div>
</div>
</ion-content>