   @import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Montserrat:200,400,500,600,700');
      ion-label ion-icon{
          color:#2F8DB0;
      }

      .border-light{
        border-bottom: 1px solid;
        border-bottom-color: gray;
      }
      .f-11{
          font-size:10pt;
          vertical-align:middle
      }
      .position-wrap .input-cover{
          position:relative!important;
      }
      .position-wrap   .text-input.text-input-md{
          padding-bottom: 0px !important;
      }
      .fourdigit-code ion-icon{
          color: #12C36E;
      font-size: 23px;
      padding: 19px;
      }
      
      .fourdigit-code .otp {
          color: darkgray;
          width: 49px;
          border-bottom: 1px solid;
          float: left;
          margin-right: 15px;
          padding: 2px 2px;
          line-height: 1;
      }
      .fourdigit-code {
      
          margin-bottom: 17px;
          input{
          width:28px;
          }
      }
      .white-bg{
          background: #ffffff;
      }
      .otp-section{
          padding: 0 0px 6px 11px;
          letter-spacing: 36px;
          border: 0;
          background-image: linear-gradient(to left, darkgray 75%, rgba(255, 255, 255, 0) 0%);
          background-position: bottom;
          background-size: 55px 1px;
          background-repeat: repeat-x;
          background-position-x: 41px;
          width: 217px;
          margin: 30px 0;
          position: relative;
          height: 50px;
          input{
           opacity: 0;
           position: absolute;
           width: 100%;
           height: 100%;
           z-index: 2;
          }
          div{
           font-family: "lato", sans-serif;
           text-transform: initial;
           color: #000000 ;
           font-weight: 300 ;
           font-size: 24pt ;
           contain: "";
           top:0;
           left: 7px;
           position: absolute;
           letter-spacing: 36px;
           width: 107%;
           z-index: 1; 
          }
      }
  
  $clr-root: #e79494;
  $clr-base: #585858;
  $clr-default: #0069b5;
  $clr-primary: #16c36f;
  $clr-link: #24a0d0;
  $clr-primary-grey: #f5f5f5;
  $clr-secondary-grey: hsl(0, 3%, 63%);
  $clr-disable: #a9a9a9;
  $clr-black: #000000;
  $clr-dark: #333333;
  $clr-error: #f0565b;
  
  // / breakpoints /
  
  $mobile-breakpoint: 480px;
  $tab-breakpoint: 1024px;
  $desktop-breakpoint: 1280px;
  
  // / font family /
  
  $fnt1: 'Montserrat',
  sans-serif;
  $fnt2: 'Lato',
  sans-serif;
  
  // / font family weight /
  
  
  //font 1 montserat /
  
  $fnt1-regular: 400;
  $fnt1-medium: 500;
  $fnt1-semi-bold: 600;
  $fnt1-bold: 700;
  $fnt1-extra-light: 200;
  
  // font 2 lato /
  
  $fnt2-light: 300;
  $fnt2-regular: 400;
  $fnt2-bold: 700;
  $fnt2-black: 900;
  /***************/
  /*font size*/
  $fnt-36: 36pt;
  $fnt-42: 42pt;
  $fnt-48: 48pt;
  $fnt-60: 60pt;
  $fnt-69: 69pt;
  $fnt-72: 72pt;
  $fnt-81: 81pt;
  $fnt-99: 99pt;
  /*font size tab*/
  $fnt-36-t: 18pt;
  $fnt-42-t: 21pt;
  $fnt-48-t: 24pt;
  $fnt-60-t: 30pt;
  $fnt-69-t: 34.5pt;
  $fnt-72-t: 36pt;
  $fnt-81-t: 40.5pt;
  $fnt-99-t: 49.5pt;
  /*font size mobile*/
  $fnt-36-m: 12pt;
  $fnt-42-m: 14pt;
  $fnt-48-m: 16pt;
  $fnt-60-m: 20pt;
  $fnt-69-m: 23pt;
  $fnt-72-m: 24pt;
  $fnt-81-m: 27pt;
  $fnt-99-m: 33pt;
  /***********otp**************/
  .white-bg{
      background: $clr-root;
  }
  .absolutebtn{
      position: absolute;
      margin-top: 8%;
      margin-bottom: 8%;
  }
  
  .page-title1{
      font-size: $fnt-81;
      color: $clr-default;
      font-weight:$fnt1-bold;
      font-family: $fnt1;
  }
  
  .page-title3{
      font-size: $fnt-60;
      color: $clr-default;
      font-weight:$fnt1-bold;
      font-family: $fnt1;
  }
  
  .body-text{
      font-size: $fnt-48;
      font-weight: $fnt2-light;
      color: $clr-base;
      font-family: $fnt2;
  }
 
  .sub-title-black{
      font-family: $fnt2 !important;
      font-size: $fnt-36;
      font-weight:  $fnt2-black;
      color: $clr-base;
  }
  ion-label[stacked]{
      font-size:$fnt-36 !important ;
      font-family:$fnt2;
       text-transform: initial;
      color: $clr-base;
      font-weight:  $fnt2-black;
          }
   ion-label[floating]
   {
      font-size:$fnt-36 !important ;
      font-family:$fnt2;
       text-transform: initial;
      color: $clr-base;
      font-weight:  $fnt2-black;
          }
   input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea{
      font-size: $fnt-72;
      font-weight: $fnt2-light;
      color: $clr-base;
      font-family: $fnt2;
      text-transform: initial;
      height:auto !important;
       padding-bottom: 23pt !important;
          }
   .select-text{
      font-size: $fnt-72;
      font-weight: $fnt2-light;
      color: $clr-base;
      font-family: $fnt2;
      text-transform: initial;
      height:auto !important;
              
          }
  .link{
      font-size: $fnt-42;
      font-weight: $fnt2-black;
      color: $clr-link !important;
      font-family: $fnt2;
  }
  .btn-link {
      font-size: $fnt-42;
      font-weight: $fnt2-black;
      color: $clr-disable !important;
      font-family: $fnt2;
  }
  .hint{
      font-family: $fnt2 !important;
      font-size: $fnt-36;
      font-weight:  $fnt2-regular;
      color: $clr-base;
  }
  .lg-numeric{
      font-size: $fnt-99;
      font-weight: $fnt2-light;
      color: $clr-base;
      font-family: $fnt2;
  }
  .sm-numeric{
      font-size: $fnt-60;
      font-weight: $fnt2-light;
      color: $clr-base;
      font-family: $fnt2;
      }
      .opacity1{
          opacity: 1!important;
      }
      .checkbox-md .checkbox-icon{
          border-radius: 50%;
      }
  /********end otp*********/
  
  @media only screen and (max-width:$mobile-breakpoint) {
      .page-title1{
          font-size: $fnt-81-m;
      
      }
      .page-title2{
          font-size: $fnt-69-m;
        
      }
      .page-title3{
          font-size: $fnt-60-m;
        
      }
      
      .body-text{
          font-size: $fnt-48-m;
        
      }
    
      .sub-title-black{
          font-size: $fnt-36-m;
          
      }
      ion-label[stacked]{
          font-size:$fnt-36-m !important ;
       
              }
       ion-label[floating]
       {
          font-size:$fnt-36-m !important ;
     
              }
       input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea{
          font-size: $fnt-72-m;
         
              }
       .select-text{
          font-size: $fnt-72-m;
          }
      .link,.btn-link{
          font-size: $fnt-42-m;
         
      }
      .hint{
        
          font-size: $fnt-36-m;
        
      }
      .lg-numeric{
          font-size: $fnt-99-m;
         
      }
      .sm-numeric{
          font-size: $fnt-60-m;
          
          }
  }
  
  @media (min-width:$mobile-breakpoint) and (max-width:$tab-breakpoint){
      .page-title1{
          font-size: $fnt-81-t;
      
      }
      .page-title2{
          font-size: $fnt-69-t;
        
      }
      .page-title3{
          font-size: $fnt-60-t;
        
      }
      
      .body-text{
          font-size: $fnt-48-t;
        
      }
    
      .sub-title-black{
          font-size: $fnt-36-t;
          
      }
      ion-label[stacked]{
          font-size:$fnt-36-t !important ;
       
              }
       ion-label[floating]
       {
          font-size:$fnt-36-t!important ;
     
              }
       input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea{
          font-size: $fnt-72-t;
         
              }
       .select-text{
          font-size: $fnt-72-t;
          }
      .link,.btn-link{
          font-size: $fnt-42-t;
         
      }
      .hint{
        
          font-size: $fnt-36-t;
        
      }
      .lg-numeric{
          font-size: $fnt-99-t;
         
      }
      .sm-numeric{
          font-size: $fnt-60-t;
          
          }
  
  }

 