<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Bank List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="app-container">
    <ion-searchbar show-clear-button="always" [debounce]="500" (ionInput)="bankSearch($event)" class="searchbar"></ion-searchbar>

    <ion-list lines="none">
      <ion-item class="list-item" *ngFor="let result of results" (click)="selectBank(result)">
        <ion-label>
          <h2 class="card-title">{{result.account_name}}</h2>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
