<ion-header style="--background: #fff">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="caret-back"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="medium">2/3</ion-button>
    </ion-buttons>
    <ion-title>Complete Your Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding [fullscreen]="true">
  <div class="page-container">
    <form [formGroup]="form" (ngSubmit)="clickNext()">
      <ion-item lines="none">
        <ion-label class="input-label" position="stacked">Street Address</ion-label>
        <div class="input-container">
          <ion-input
            class="input-streetAddress"
            type="text"
            formControlName="streetAddress"
          ></ion-input>
        </div>
        <ng-template [ngIf]="!isFormSubmit && form.controls['streetAddress'].invalid">
          <ion-label class="err-validation" position="stacked"
            >Please enter street aAddress</ion-label
          >
        </ng-template>
      </ion-item>

      <ion-item lines="none">
        <ion-label class="input-label" position="stacked">City</ion-label>
        <div class="input-container">
          <ion-input
            class="input-city"
            type="text"
            formControlName="city"
          ></ion-input>
        </div>
        <ng-template [ngIf]="!isFormSubmit && form.controls['city'].invalid">
          <ion-label class="err-validation" position="stacked"
            >Please enter city</ion-label
          >
        </ng-template>
      </ion-item>
     
      <ion-item lines="none">
        <ion-label class="input-label" position="stacked">State</ion-label>
        <div class="input-container">
          <ion-input
            class="input-state"
            type="text"
            formControlName="state"
          ></ion-input>
        </div>
        <ng-template [ngIf]="!isFormSubmit && form.controls['state'].invalid">
          <ion-label class="err-validation" position="stacked"
            >Please enter state</ion-label
          >
        </ng-template>
      </ion-item>

      <ion-item lines="none">
        <ion-label class="input-label" position="stacked">Postal Code</ion-label>
        <div class="input-container">
          <ion-input
            class="input-postalCode"
            type="number"
            formControlName="postalCode"
            minlength="4"
          ></ion-input>
        </div>
        <ng-template [ngIf]="!isFormSubmit && form.controls['postalCode'].invalid">
          <ion-label class="err-validation" position="stacked"
            >Please enter postal code</ion-label
          >
        </ng-template>
      </ion-item>
      
      <ion-button class="primary-btn next-btn" expand="block" type="submit">Next</ion-button>
    </form>
  </div>
</ion-content>
